@charset "UTF-8";
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------
0 - 600px: phone
600 - 900px: tab-portrait
900 - 1200px: tab-landscape
[1200 - 1800] is regular style apply
1800 +: big-desktop
---------*/
/************************************************************/
/*------- 
- phone
- tab_port
- tab_land
- big_desktop

1em = 16px
--------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #99999930;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  display: none;
}

.row-color {
  background-color: #eee;
}

.row-color [class^='col-'] {
  background-color: #7ed56f;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding: .5rem 0;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 15px;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

.row [class^='col-'] {
  float: left;
}

.row [class^='col-']:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  .row [class^='col-'] {
    width: 45% !important;
    margin-bottom: 2rem;
  }
  .row [class^='col-']:not(:last-child) {
    margin-right: 3rem !important;
  }
}

@media (max-width: 37.5em) {
  .row [class^='col-'] {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

.row .col-1 {
  width: 100%;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 12rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 18rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 18rem) / 4) + (2 * 6rem));
}

.row .col-1-of-5 {
  width: calc((100% - 24rem) / 5);
}

.row .col-2-of-5 {
  width: calc(2 * ((100% - 24rem) / 5) + 6rem);
}

.row .col-3-of-5 {
  width: calc(3 * ((100% - 24rem) / 5) + (2 * 6rem));
}

.row .col-4-of-5 {
  width: calc(4 * ((100% - 24rem) / 5) + (3 * 6rem));
}

.row .col-1-of-6 {
  width: calc((100% - 30rem) / 6);
}

.row .col-2-of-6 {
  width: calc(2 * ((100% - 30rem) / 6) + 6rem);
}

.row .col-3-of-6 {
  width: calc(3 * ((100% - 30rem) / 6) + (2 * 6rem));
}

.row .col-4-of-6 {
  width: calc(4 * ((100% - 30rem) / 6) + (3 * 6rem));
}

.row .col-5-of-6 {
  width: calc(5 * ((100% - 30rem) / 6) + (4 * 6rem));
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slick-slide:hover {
  cursor: pointer;
}

.slick-slide:focus {
  outline: none;
}

.banner__title {
  font-size: 3.5rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: transparent;
  letter-spacing: 0.2rem;
  padding-bottom: 3rem;
  background-image: linear-gradient(to right, #ff7730, #ffb900, #ff7730, #ffb900);
  -webkit-background-clip: text;
  transition: all 0.2s;
}

.banner__title:hover {
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.menu {
  max-width: 25%;
  overflow: scroll;
  float: left;
  background-color: #aba39b;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.menu__btn--button {
  display: none;
}

.menu__btn--checkbox {
  display: none;
}

.menu__top {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
  position: relative;
}

.menu__user--img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  transform: scale(0.9);
  transition: all 0.2s;
}

.menu__user--img:hover {
  filter: blur(2px) brightness(80%);
  transform: scale(0.98);
}

.menu__user--name {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #55c57a;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  line-height: 35px;
  padding: 0.5rem;
  margin-top: 2rem;
}

.menu__bottom {
  display: block;
}

.menu__link--list {
  list-style: none;
  border-top: 1px solid #dfd9d4;
}

.menu__link--item {
  padding: 1rem;
  border-bottom: 1px solid #dfd9d4;
  background-image: linear-gradient(125deg, transparent 0%, transparent 50%, #28b485 50%);
  background-size: 250%;
  transition: all 0.5s;
}

.menu__link--item:hover, .menu__link--item:active {
  background-position: 100%;
}

.menu .active {
  background-position: 100%;
}

.menu__link--icon {
  padding-right: 1rem;
}

.menu__link--itme-text {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  text-align: center;
  transition: all 0.5s;
}

.menu__link--itme-text:hover {
  transform: translateX(1rem);
}

@media (max-width: 56.25em) {
  .menu {
    max-width: 100%;
    transform: translateX(-100%);
    transition: all 0.2s;
  }
  .menu__btn--checkbox:checked ~ .menu {
    transform: translateX(0);
  }
  .menu__btn--button {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 2rem;
  }
  .menu__btn--icon {
    position: relative;
  }
  .menu__btn--icon, .menu__btn--icon::before, .menu__btn--icon::after {
    width: 3rem;
    height: 4px;
    background-color: #333;
    display: inline-block;
    border-radius: 50%;
    backface-visibility: hidden;
  }
  .menu__btn--icon::before, .menu__btn--icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }
  .menu__btn--icon {
    top: 3.5rem;
  }
  .menu__btn--icon::before {
    top: -.8rem;
  }
  .menu__btn--icon::after {
    top: .8rem;
  }
  .menu__btn--button:hover {
    cursor: pointer;
  }
  .menu__btn--button:hover .menu__btn--icon::before {
    transform: translateY(-0.2rem);
  }
  .menu__btn--button:hover .menu__btn--icon::after {
    transform: translateY(0.2rem);
  }
  .menu__btn--checkbox:checked + .menu__btn--button .menu__btn--icon {
    background-color: transparent;
  }
  .menu__btn--checkbox:checked + .menu__btn--button .menu__btn--icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  .menu__btn--checkbox:checked + .menu__btn--button .menu__btn--icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}

.container-box {
  float: right;
  width: 75%;
  background-color: #0080002b;
  text-align: center;
}

.container-box::after {
  clear: both;
  content: "";
  display: table;
}

@media (max-width: 56.25em) {
  .container-box {
    width: 100%;
  }
}

.home {
  padding-top: 1rem;
  min-height: 100vh;
}

.home__img-wrap-item {
  width: 25%;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  margin: 4rem auto;
  padding: .2rem;
}

@media (max-width: 56.25em) {
  .home {
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .home__img-wrap-item {
    width: 30%;
  }
}

@media (max-width: 37.5em) {
  .home__img-wrap-item {
    width: 50%;
  }
}

.home__text {
  width: 80%;
  margin: 0 auto;
  padding: 15rem 0 10rem;
  margin-top: -15rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/home-bg-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home__text--title {
  font-size: 5rem;
  text-transform: uppercase;
  color: #ff7730;
}

.home__text--subtitle {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffb900;
  position: relative;
  width: 100%;
}

.home__text--subtitle::after, .home__text--subtitle::before {
  position: absolute;
  content: "";
  border-bottom: 3px double #ffb900;
  width: 50%;
  top: 1.5rem;
}

.home__text--subtitle::before {
  left: -55%;
}

.home__text--subtitle::after {
  right: -55%;
}

@media (max-width: 56.25em) {
  .home__text--title {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  .home__text--subtitle {
    font-size: 1.5rem;
  }
  .home__text--subtitle::before {
    content: none;
  }
  .home__text--subtitle::after {
    right: 0;
    width: 100%;
    top: 3rem;
  }
}

.social {
  padding: 4rem 0;
}

.social__list {
  list-style: none;
}

.social__item {
  display: inline-block;
  padding: 0 1rem;
}

@media (max-width: 56.25em) {
  .social__item {
    padding: 0;
  }
}

.social__text {
  text-decoration: none;
}

.social__icon {
  font-size: 4rem;
  transition: all 0.2s;
}

.social__fb {
  color: #3b5999;
}

.social__tt {
  color: #55acee;
}

.social__li {
  color: #0077B5;
}

.social__sk {
  color: #00AFF0;
}

.social__gh {
  color: #4078c0;
}

.social__span {
  display: block;
  opacity: 0;
  text-transform: uppercase;
  transform: translateY(-3rem);
  transition: all 0.2s;
  font-size: 1.6rem;
  font-weight: 100;
  color: #ff7730;
}

.social__text:hover .social__icon {
  animation-iteration-count: 1;
  transform: scale(1.5);
}

.social__text:hover .social__span {
  transform: translateY(1rem);
  opacity: 1;
}

.project {
  padding-top: 5rem;
}

.project__container {
  width: 100%;
  padding: 5rem 3rem;
}

.project__content {
  background-color: #777;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.project__content:hover {
  transform: translateY(-1rem);
}

.project__img {
  width: 100%;
  margin: 0 auto;
}

.project__img--demo {
  width: 100%;
  height: auto;
  display: block;
}

.project__details {
  background-color: #7ed56f;
  margin: 1rem auto;
  min-height: 5rem;
}

.project__details--text {
  color: #eee;
}

.project__buttons {
  display: block;
}

.project__btn, .project__btn:active, .project__btn:visited {
  text-decoration: none;
  color: #28b485;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 1rem;
  background-color: #eee;
  display: inline-block;
  width: 49%;
  transition: all 0.2s;
}

.project__btn:hover {
  color: #eee;
  background-color: #28b485;
}

.project__btn i {
  vertical-align: middle;
}

.project__btn-diable {
  cursor: not-allowed;
}

.education {
  padding-top: 10rem;
}

.education__container {
  padding: 7rem 3rem;
}

.education__content {
  background-color: #eee;
  padding: 3rem 1rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.education__content h2 {
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: #28b485;
  font-weight: 700;
}

.education__content h3 {
  padding-bottom: .5rem;
}

.education__content h4 {
  padding-bottom: 3rem;
}

.education__content p {
  padding-bottom: 1.5rem;
}

.education__icon {
  font-size: 10rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(to bottom, #28b485, #7ed56f);
  -webkit-background-clip: text;
  color: transparent;
}
