.container-box {
    @include clearFix;
    float: right;
    width: 75%;
    background-color: #0080002b;
    text-align: center;
    
    
    @include respond(tab_port) {
      width: 100%;
    }
  }
  