.home {
  &__text {
    width: 80%;
    margin: 0 auto;
    padding: 15rem 0 10rem;
    margin-top: -10rem;
    border-radius: 5px;
    box-shadow: box-shadow(0.3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/home-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text--title {
    font-size: 5rem;
    text-transform: uppercase;
    color: $color-secondary-dark;
  }

  &__text--subtitle {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $color-secondary-light;
    position: relative;
    width: 100%;

    &::after,
    &::before {
      position: absolute;
      content: "";
      border-bottom: 3px double $color-secondary-light;
      width: 50%;
      top: 1.5rem;
    }

    &::before {
      left: -55%;
    }

    &::after {
      right: -55%;
    }
  }

  @include respond(tab_port) {
    &__text--title {
      font-size: 3rem;
      line-height: 3rem;
      padding-bottom: 2rem;
      padding-top: 3rem;
    }

    &__text--subtitle {
      font-size: 1.5rem;

      &::before {
        content: none;
      }

      &::after {
        right: 0;
        width: 100%;
        top: 3rem;
      }
    }
  }
}
